.button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 45%;
}
.addForm{
    margin: 0 auto;
    text-align: center;
}
.ul{
    list-style: none;
}

.li{
    padding: 4px;
}